body {
	color: #4d1d4d;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
a, [cam-widget-inline-field]>.view-value, [cam-tasklist-task-meta] .groups, .batch-operation-page .page-flow-nav li.active a:after {
	color: #c34bc3;
}
a:hover, a:focus {
    color: #ff96ff;
}
.nav-tabs>li.active>a,.columns,.three-cols-layout .column-left .list-unstyled>.item.active, .three-cols-layout .column-center .list-unstyled>li.active, .three-cols-layout .column-left .list-unstyled>.item:hover, .three-cols-layout .column-center .list-unstyled>li:hover, .three-cols-layout .column-left .list-unstyled>.item:focus, .three-cols-layout .column-center .list-unstyled>li:focus {
	color: #ff96ff;
}

[cam-widget-header] .navbar-brand {
    display: flex;
}

[cam-widget-header] .navbar-brand .brand-logo {
    display: block;
    background: url(../assets/images/custom-logo.png);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 0 6px;
    width: 40px;
    color: #4d1d4d;
}
[cam-widget-header] .brand-logo:before {
	display: none;
}

[cam-widget-header] {
	border-top-color: #c34bc3;
}
span.brand-name.ng-binding {
	width: 15em;
    display: block;
}
.column .cell.top {
	border-bottom: 1px solid #e0e0e0; 
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
	border-bottom: #c34bc3;
}
.btn-primary {
	background-color: #c34bc3;
	border-color: #c34bc3;
}
.btn-primary:hover,.btn-primary:focus,.btn-primary.focus {
	color: #ff96ff;
	background-color: #ededed;
	border-color: #ededed;
}

.item.active,.item.active:hover,.list-unstyled>li.active, .three-cols-layout .column-left .list-unstyled>.item.active, .three-cols-layout .column-center .list-unstyled>li.active, .three-cols-layout .column-left .list-unstyled>.item.active:hover, .three-cols-layout .column-center .list-unstyled>li.active:hover {
	border-color: #c34bc3;
}
.item:hover {
	border-color: #ff96ff;
}
[cam-widget-footer] {
	color: white;
	background-color: #c34bc3;
}

[cam-widget-footer] a {
	color: white;
}
[cam-widget-footer] a:hover, [cam-widget-footer] a:focus {
    color: black;
}
